body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: lightblue;
  padding: 1rem;
  button {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
  }
}

main {
  flex: 1;
  overflow-x: auto;

  .board {
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    .card {
      border: solid 2px black;
      border-radius: 0.5rem;
      width: calc(20vw - 1rem);
      min-width: 250px;
      padding: 1rem;
      flex-shrink: 0;
      height: 100%;
      position: relative;
      overflow: hidden;
      h3 {
        background-color: lightgreen;
      }
      .deleteCardBtn {
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        border: none;
        width: 1rem;
        height: 1rem;
        transform: translateX(-50%);
      }
      .changeColorBtn {
        position: absolute;
        top: 0;
        right: 1.5rem;
        background-color: lightgreen;
        width: 1.5rem;
        background: none;
        /* border: none; */
        border-radius: 50%;
      }
      ul {
        list-style: none;
        padding: 0;
        background-color: lightyellow;
        li {
          border: solid black 1px;
          position: relative;
          .deleteTaskBtn {
            position: absolute;
            top: 0;
            right: 0;
            height: 50%;
            background-color: lightgreen;
            border: none;
          }
          .changeTaskDueDateBtn {
            width: inherit;
          }
          &.dragging {
            background-color: blueviolet;
          }
        }
      }
      button {
        background-color: green;
      }
      input {
        width: 100%;
      }
    }
  }
}
