/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/montserrat-v30-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/montserrat-v30-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  background-image: linear-gradient(
    69.2deg,
    rgba(77, 143, 251, 1) 35.3%,
    rgba(202, 51, 255, 1) 100.3%
  );
}

header {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: lightblue;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  .addListBtn {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
  }
  a {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

main {
  flex: 1;
  overflow-x: auto;

  .board {
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    .card {
      width: calc(20vw - 1rem);
      min-width: 250px;
      padding: 0.5rem;
      flex-shrink: 0;
      height: 100%;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      &.dragging {
        opacity: 1%;
      }
      h3 {
        padding-left: 0.5rem;
        border: solid 1px black;
      }
      .deleteCardBtn {
        position: absolute;
        top: 0.7rem;
        right: 0.7rem;
        background: none;
        border: none;
        width: 1rem;
        height: 1rem;
        transform: translateX(-50%);
      }
      .changeColorBtn {
        position: absolute;
        top: 0.6rem;
        right: 2rem;
        width: 1.5rem;
        background: none;
        border: none;
        border-radius: 50%;
      }
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        li {
          border: solid black 1px;
          display: flex;
          padding-left: 10px;
          flex-direction: column;
          position: relative;
          padding: 0 0.5rem;
          .deleteTaskBtn {
            margin: 0 -0.5rem;
          }
          .changeTaskDueDateBtn {
            width: inherit;
            border-top: solid 1px black;
            border-bottom: solid 1px black;
            margin: 0 -0.5rem;
            padding: 0 0.5rem;
          }
          &.dragging {
            opacity: 1%;
          }
        }
      }
      .addTaskBtn {
        border: solid 1px black;
      }
      input {
        width: 100%;
      }
    }
    h3,
    button:not(.deleteCardBtn):not(.changeColorBtn),
    input {
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.3);
    }
    .card,
    li {
      background: rgba(255, 255, 255, 0.74);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(8.2px);
      -webkit-backdrop-filter: blur(8.2px);
      border: 1px solid rgba(255, 255, 255, 0.4);
    }
  }
}

.reusableBlur {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
